# =========================
# Python
# =========================
__pycache__/
*.pyc
*.pyo
*.pyd

# =========================
# Virtual Environment
# =========================
.venv/
venv/
env/

# =========================
# VS Code
# =========================
.vscode/

# =========================
# OS
# =========================
.DS_Store
Thumbs.db

# =========================
# Qt / PySide
# =========================
*.ui~
*.qmlc
*.qrc~

# =========================
# External Template / Library
# =========================
Modern_GUI_PyDracula_PySide6_or_PyQt6-master/
Unnecessary File
build
dist
PlantUML_Diagrams
plantumlnew

trialloginpage\client_secret.json
trialloginpage/firebase_service_account.json
trialloginpage/client_secret.json

# =========================
# Sensitive Files / Secrets
# =========================
# Firebase & Google OAuth credentials
credentials/client_secret.json
credentials/firebase_service_account.json
credentials/*.old

# MQTT TLS certificates
credentials/ca.crt
credentials/ca2.crt

# Old location (backup)
trialloginpage/firebase_service_account.json
trialloginpage/client_secret.json
firebase_service_account.json
client_secret.json

# Session files
ecolab_session.json
credentials/client_secretold.json
credentials/firebase_service_accountold.json

